* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
body {
  width: 800px;
  background-color: beige;
  padding: 20px;
}
h1 {
  margin-bottom: 10px;
  font-size: 32px;
}
a {
  text-decoration: none;
  color: #007180;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: .5ms;
  color: #d17600;
  font-weight: bold;
  font-stretch: 1.2;
}
nav {
  max-width: 90%;
}
.nav-ul{
  display: flex;
  flex-direction: row;
}
.nav-li {
  list-style: none;
  font-size: 20px;
}
h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 24px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}
li {
  line-height: 20px;
}
hr {
  margin-top: 20px;
}