:root {
  --color-bg: #1b1b1b;
  --color-text: #faebd7;
  --color-link: #00899b;
  --color-link-hover: #d17600;
  --color-code-text: #e2e0e0;
  --color-code-bg: #505050;
  --color-link-pale: #606060;
  --color-link-pale-hover: #878787;
}

@font-face {
  font-family: "JosefinSans";
  src: url(assets/fonts/JosefinSans.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'JosefinSans', sans-serif;
  font-size: 22px;
  color: #faebd7;
  transition: 5ms;
}
body {
  background-color: var(--color-bg);
}
.body-wrapper {
  max-width: 1024px;
  box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
  box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.1);
  padding: 20px 10px;
}
.header-img {
  max-width: 20%;
  height: auto;
  object-fit: cover;
  mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
}
.cv-title {
  font-size: 36px;
  position: relative;
}
.cv-title::after {
  content: '';
  background-color: var(--color-text);
  height: 2px;
  width: 120%;
  position: absolute;
  top: 31px;
  left: 18px;
}
.nav {
  width: 90%;
}
.nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 5px;
  width: max-content;
  margin-left: auto;
}
.nav-item {
  list-style: none;
}
.nav-item-last {
  grid-column: 2;
}
.nav-link {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
  line-height: 24px;
  font-size: 22px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding: 20px 10px;
}
.section {
  padding: 15px 10px;
}
.section-title {
  font-size: 28px;
  position: relative;
  padding-bottom: 30px;
  letter-spacing: 0.03em;
}
.section-title::after {
  content: '';
  background-color: var(--color-text);
  height: 2px;
  width: 40%;
  position: absolute;
  top: 32px;
  left: 20px;
}
.link {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
  line-height: 24px;
}
.link-pale {
  color: var(--color-link-pale);
  text-decoration: none;
}
.text {
  line-height: 1.3em;
}
.code {
  display: block;
  background-color: var(--color-code-bg);
  border-radius: 5px;
  font-family: courier, monospace;
  padding: 0 3px;
  color: var(--color-code-text);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
}
.footer-img {
  max-height: 35px;
}

@media (max-width: 650px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
  }
  .cv-title::after {
    width: 80%;
  }
  .nav {
    width: 95%;
  }
  .nav-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0 auto;
    gap: 10px;
  }
  .nav-item:nth-child(2) {
    grid-column: 3;
  }
  .nav-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }
  .nav-item:nth-child(5) {
    grid-row: 1;
    grid-column: 3;
  }
  .nav-item:nth-child(6) {
    grid-row: 2;
    grid-column: 1;
  }
  .nav-item:nth-child(7) {
    grid-row: 2;
    grid-column: 2;
  }
  .nav-item:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
  }
  .code {
    width: max-content;
  }
}

@media (hover:hover) {
  *:hover {
    transition: 5ms;
  }
  .nav-link:hover,
  .link:hover {
    cursor: pointer;
    color: var(--color-link-hover);
    font-stretch: 1.4;
  }
  .link-pale:hover {
    cursor: pointer;
    text-decoration: underline;
    font-stretch: 1.4;
    color: var(--color-link-pale-hover);
  }
  .footer-img:hover {
    cursor: pointer;
    transform: scale(110%);
  }
}