* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
body {
  width: 800px;
  background-color: beige;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 5%;
}
.header-img {
  max-width: 20%;
}
h1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 36px;
  max-width: 15%;
}
a {
  text-decoration: none;
  color: #007180;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: .5ms;
  color: #d17600;
  font-weight: bold;
  font-stretch: 1.2;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ul{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  gap: 5%;
  justify-content: center;
}
.nav-li {
  list-style: none;
  font-size: 22px;
}
section {
  border-bottom: #007180 2px solid;
  padding: 10px 10px;
}
h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}
li {
  line-height: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
}
.footer-text {
  font-size: 24px;
}
.footer-img {
  max-height: 35px;
}